{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>About</h1>

    This is about page with a sample image <br>
    <img width="80%" src="{{ asset('images/sample.jpeg') }}"/>
</div>
{% endblock %}
